.d-flex.justify-content-center.mt-5
  - if params[:choice]
    ok
  - else
    .mx-2
      = generate_choice('Paper')
    .mx-2
      = generate_choice('Rock')
    .mx-2
      = generate_choice('Scissors')
